/* i{
    color: green;
}

h4{
    color: darkgoldenrod;
} */
 /* #demo1{
    color:yellowgreen;
}
#demo2{
    color: darkblue;
}
#demo3{
    color: darkred;
}  */

/* h2{
    color: red;
} */

/* 
#odd1{
    color: red;
}
#odd2{
    color : red;
}
#odd3{
    color: red;
}
#odd4{
    color: red;
}
#even1{
    color: blue;
}
#even2{
    color: blue;
}
#even3{
    color: blue;
}
#even4{
    color: blue;
} 

.odd_css{
    color: red;
}
.even_css{
    color: blue;
}*/

.background_css{
    background-color: yellowgreen;
    font-size: 30px;
}